<launch>

    <arg name="namespace" default="sam"/>

    <node name="pid_tf_listener" pkg="sam_basic_controllers" type="pid_tf_listener" output="screen" >
	    <param name="odom_frame" value="$(arg namespace)_odom"/>
	    <param name="base_frame" value="$(arg namespace)/base_link"/>
	    <param name="world_frame" value="$(arg namespace)_odom"/>
      <param name="loop_freq" value="50" />
    </node>

    <node name="pid_actuator_tv" pkg="sam_basic_controllers" type="pid_actuator_tv" ns="Pitch_Elevator" >
      <param name="topic_from_controller_1" value="/elevator_setpoint" />
      <param name="topic_from_controller_1" value="/rudder_setpoint" />
      <param name="topic_to_actuator" value="/actuator_input" />
      <param name="limit_between_setpoints" value="0.01" />
      <param name="loop_freq" value="10" />
      <remap from="/actuator_input" to="/uavcan_vector_command"/>
    </node>

    <node name="controller1" pkg="pid" type="controller" ns="Dynamic_Heading" output="screen" >
      <param name="Kp" value="1.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="0.1" />
      <param name="lower_limit" value="-0.1" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
      <param name="topic_from_plant" value="/yaw_feedback" />
      <param name="topic_from_controller" value="r_setpoint" />
      <remap from="setpoint" to="/depth_setpoint" />
      <!--remap from="pitch_setpoint" to="/pitch_setpoint" /-->
      <!--remap from="/plant_state_pitch" to="state" />
      <remap from="control_effort" to="/control_effort" /-->
     </node>

     <node name="controller2" pkg="pid" type="controller" ns="Dynamic_Heading" output="screen" >
       <param name="Kp" value="-5" />
       <param name="Ki" value="-0.0" />
       <param name="Kd" value="-0.0" />
       <param name="upper_limit" value="0.1" />
       <param name="lower_limit" value="-0.1" />
       <param name="windup_limit" value="100" />
       <param name="max_loop_frequency" value="100.0" />
       <param name="min_loop_frequency" value="100.0" />
       <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
       <param name="topic_from_plant" value="/r_feedback" />
       <param name="topic_from_controller" value="/rudder_setpoint" />
       <remap from="setpoint" to="r_setpoint" />
       <!--remap from="/plant_state_pitch" to="state" />
       <remap from="control_effort" to="/control_effort" /-->
      </node>



</launch>
