<launch>

<arg name="robot_name" default="sam"/>
<arg name="with_SIM" default="true"/>
<arg name="with_REAL" default="false"/>


    <include file="$(find sam_basic_controllers)/launch/SIM/dynamic_controllers_SIM.launch" if="$(arg with_SIM)">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <include file="$(find sam_basic_controllers)/launch/REAL/dynamic_controllers_REAL.launch" if="$(arg with_REAL)">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
      
</launch>
