<launch>

    <arg name="namespace" default="sam"/>

    <node name="dyn_vel_roll_pid" pkg="pid" type="controller" ns="dynamic_velocity" output="screen" >
      <param name="Kp" value="500" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="500" />
      <param name="lower_limit" value="-500" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
      <param name="topic_from_plant" value="/$(arg namespace)/ctrl/roll_feedback" />
      <param name="topic_from_controller" value="/$(arg namespace)/ctrl/rpm_diff" />
      <remap from="setpoint" to="roll_setpoint" />
      <!--remap from="pitch_setpoint" to="/pitch_setpoint" /-->
      <!--remap from="/plant_state_pitch" to="state" />
      <remap from="control_effort" to="/control_effort" /-->
     </node>

     <node name="dyn_vel_u_pid" pkg="pid" type="controller" ns="dynamic_velocity" output="screen" >
       <param name="Kp" value="1000" />
       <param name="Ki" value="0.0" />
       <param name="Kd" value="0.0" />
       <param name="upper_limit" value="500" />
       <param name="lower_limit" value="-500" />
       <param name="windup_limit" value="100" />
       <param name="max_loop_frequency" value="100.0" />
       <param name="min_loop_frequency" value="100.0" />
       <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
       <param name="topic_from_plant" value="/$(arg namespace)/ctrl/u_feedback" />
       <param name="topic_from_controller" value="/$(arg namespace)/ctrl/rpm_avg" />
       <remap from="setpoint" to="u_setpoint" />
       <!--remap from="/plant_state_pitch" to="state" />
       <remap from="control_effort" to="/control_effort" /-->
      </node>



</launch>
