<launch>

    <node name="pid_feedback_node" pkg="sam_test_utils" type="pid_feedback_node" />

    <!-- Launch Pitch control with LCG  -->
    <node name="pid_setpoint_publisher" pkg="sam_test_utils" type="pid_setpoint_publisher" ns="LCG_pitch" >
      <param name="setpoint_topic" value="setpoint" />
      <param name="setpoint" value="0.15" />
    </node>

    <node name="controller" pkg="pid" type="controller" output="screen" ns="LCG_pitch" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
      <param name="topic_from_plant" value="/plant_state_pitch" />
      <param name="topic_from_controller" value="control_action" />
      <!--remap from="setpoint" to="/setpoint" /-->
      <!--remap from="/plant_state_pitch" to="state" />
      <remap from="control_effort" to="/control_effort" /-->
     </node>

     <node name="pid_control_action_node" pkg="sam_test_utils" type="pid_control_action_node" ns="LCG_pitch" >
       <param name="topic_from_controller" value="control_action" />
       <param name="topic_to_plant" value="/actuator_input" />
       <remap from="/actuator_input" to="/lolo_auv_1/back_fins/0/input" />
     </node>

      <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch it  -->
    <!--node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/LCG_pitch/pitch_control_action/data /plant_state_pitch /LCG_pitch/setpoint/data" /-->

    <!-- Launch Roll control with TCG  -->
    <node name="pid_setpoint_publisher" pkg="sam_test_utils" type="pid_setpoint_publisher" ns="TCG_roll" >
      <param name="setpoint_topic" value="setpoint" />
      <param name="setpoint" value="-0.12" />
    </node>

    <node name="pid_control_action_node" pkg="sam_test_utils" type="pid_control_action_node" ns="TCG_roll">
      <param name="topic_from_controller" value="control_action" />
      <param name="topic_to_plant" value="/actuator_input" />
      <remap from="/actuator_input" to="/lolo_auv_1/fins/0/input" />
    </node>


    <node name="controller" pkg="pid" type="controller" output="screen" ns="TCG_roll" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
      <param name="topic_from_plant" value="/plant_state_roll" />
      <param name="topic_from_controller" value="control_action" />
      <!--remap from="setpoint" to="/setpoint" /-->
      <!--remap from="/plant_state_pitch" to="state" />
      <remap from="control_effort" to="/control_effort" /-->
     </node>


      <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch it  -->
    <!--node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/TCG_roll/roll_control_action/data /plant_state_roll /TCG_roll/setpoint/data" /-->

    <!-- Launch depth control with VBS  -->
    <node name="pid_setpoint_publisher" pkg="sam_test_utils" type="pid_setpoint_publisher" ns="VBS_depth" >
      <param name="setpoint_topic" value="setpoint" />
      <param name="setpoint" value="60" />
    </node>

    <node name="pid_control_action_node" pkg="sam_test_utils" type="pid_control_action_node" ns="VBS_depth" >
      <param name="topic_from_controller" value="control_action" />
      <param name="topic_to_plant" value="/actuator_input" />
      <remap from="/actuator_input" to="/lolo_auv_1/thrusters/0/input" />
    </node>

    <node name="controller" pkg="pid" type="controller" output="screen" ns="VBS_depth" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
      <param name="topic_from_plant" value="/plant_state_depth" />
      <param name="topic_from_controller" value="control_action" />
      <!--remap from="setpoint" to="/setpoint" /-->
      <!--remap from="/plant_state_pitch" to="state" /-->
      <!--remap from="control_effort" to="/control_effort" /-->
     </node>


      <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch it  -->
     <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/LCG_pitch/control_action/data /plant_state_pitch /LCG_pitch/setpoint/data
    /TCG_roll/control_action/data /plant_state_roll /TCG_roll/setpoint/data
    /VBS_depth/control_action/data /plant_state_depth /VBS_depth/setpoint/data" />

    <!--node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" /-->
    <!--node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" /-->
 </launch>
