<launch>

<arg name="robot_name" default="sam"/>
<arg name="with_roll" default="true"/>
<arg name="with_pitch" default="true"/>
<arg name="with_depth" default="true"/>
<arg name="with_alt" default="true"/>

<group ns="$(arg robot_name)">
    <group ns="ctrl">

        <!-- Odom listener launched with dead reckoning!!-->
        <!--node name="odom_listener" pkg="tf_convenience_topics" type="odom_listener" output="screen" >
	        <param name="odom_topic" value="/$(arg robot_name)/dr/local/odom/filtered"/>
	        <param name="dvl_topic" value="/$(arg robot_name)/core/dvl"/>
            <param name="loop_freq" value="10" />
        </node-->

        <!--node name="odom_listener" pkg="sam_basic_controllers" type="odom_listener" output="screen" >
	        <param name="odom_topic" value="/$(arg robot_name)/dr/local/odom/filtered"/>
	        <param name="dvl_topic" value="/$(arg robot_name)/core/dvl"/>
            <param name="loop_freq" value="10" />
        </node-->

        <!--node name="pid_tf_listener" pkg="sam_basic_controllers" type="pid_tf_listener" output="screen" >
            <param name="odom_frame" value="$(arg robot_name)/odom"/>
            <param name="base_frame" value="$(arg robot_name)/base_link"/>
            <param name="utm_frame" value="utm"/>
            <param name="topic_from_dvl" value="/$(arg robot_name)/core/dvl"/>
            <param name="loop_freq" value="50" />
        </node-->

        <!--node name="tf_listener" pkg="tf_convenience_topics" type="tf_listener" output="screen" >
	    	<param name="world_frame" value="/utm"/>	    	
	    	<param name="base_frame" value="/$(arg robot_name)/base_link"/>
	        <param name="topic_from_dvl" value="$(arg robot_name)/core/dvl"/>
            	<param name="loop_freq" value="50" />
    	</node-->

        <include file="$(find sam_basic_controllers)/launch/REAL/static_depth_ctrl_REAL.launch" if="$(arg with_depth)">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <include file="$(find sam_basic_controllers)/launch/REAL/static_pitch_ctrl_REAL.launch" if="$(arg with_pitch)">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <include file="$(find sam_basic_controllers)/launch/REAL/static_roll_ctrl_REAL.launch" if="$(arg with_roll)">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>
        
        <include file="$(find sam_basic_controllers)/launch/REAL/static_alt_ctrl_REAL.launch" if="$(arg with_alt)">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

    </group>
</group>

</launch>
